<div class="dropdown my-4 d-flex justify-content-center">
  <form action="/records" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">名稱:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label" >日期:</label>
      <input type="date" class="form-control" id="date" name="date">
    </div>
    <div class="mb-3">
      <label for="categoryId" class="form-label">類別:</label>
      <select name="categoryId" class="form-control" id="categoryId">
        <option value="type" disabled selected>類別</option>
        {{#each allCategories}}
        <option value="{{this._id}}" >{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">金額:</label>
      <input type="number" class="form-control" name="amount" id="amount">
    </div>
    <button type="submit" class="btn btn-danger">新增支出</button>
  </form>
</div>
